@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100&display=swap');

body{
	background-color: #3d3d4e;
	color: #fff;
	line-height: 1.5;
	font-family: 'Roboto Serif', serif;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: -40px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: #fff;
}
#navbar li {
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
  left: 0px;
  justify-content: center;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  
}



#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
    }
  
  header {
	  padding-top: 10px;
	  text-align: center;
	  font-size: 20px;
	  font-weight: bold;
  }
  
  #main-doc header {
	  text-align: left;
  }
code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 0.8;
  background-color: #2D333A;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
